@import "../../main";

.videos-page {
  @include page-size;
   & .videos-container {
     position: relative;
     top: 60px;
     margin: auto;
     display: grid;
     grid-template-columns: auto auto;
     width: 70%;
   }

}