@import "../../main";

.videos-page {
  @include page-size;

  & .loading-videos {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  & .videos-container {
     position: relative;
     top: 60px;
     margin: auto;
     display: grid;
     grid-template-columns: auto auto;
     width: 70%;
   }
}