@import "main";

.not-found-page {
  background-color: #e8fdff;
  display: flex;
  justify-content: center;
  position: relative;
  width: 500px;
  height: 450px;

  &.in-app {
    @include page-size;

  }

  &.outside-app {
    width: 100vw;
    height: 100vh;
  }

  & .not-found-message {
    margin-top: 100px;
    & div.ant-result-subtitle {
      font-size: 20px;
      color: #333;
    }
  }
}