@import "main";

.not-found-page {
  background-color: #e8fdff;
  display: flex;
  justify-content: center;
  position: relative;

  &.in-app {
    @include page-size;
    & .not-found-message {
      margin-top: 40px;
    }
  }

  &.outside-app {
    width: 100vw;
    height: 100vh;
    & .not-found-message {
      margin-top: 100px;
    }

  }

  & .not-found-message {
    text-align: center;
    color: #333;
    & .text-section {
      position: relative;
      bottom: 25px;
      & p {
        font-size: 17px;
        opacity: .9;
      }
      & h2 {
        color: $sidebar-background-color;
        margin-top: 35px;
        font-size: 36px;
      }
    }
  }
}