@import "main";

/************************
    Default plans
************************/
.default-plans-page {
  @include page-size;
}
/*--------------
    loading
---------------*/

.default-plans-page .loading-default-plans {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*--------------------------
   Default plans container
---------------------------*/
.default-plans-page .default-plans-container {
    position: relative;
    top: 60px;
    margin: auto auto 30px;
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);
    grid-gap: 30px;
    width: 70%;
}

.default-plans-page h1 {
  font-size: $headers-font-size;
}