@import "main";

.default-plans-page {
  @include page-size;

  & .loading-default-plans {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  & .default-plans-container {
    position: relative;
    top: 60px;
    margin: auto auto 30px;
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);
    grid-gap: 30px;
    width: 70%;

    & .default-plan-card-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: $sidebar-background-color;
      & .ant-card-head {
        text-align: center;
        font-size: 25px;
        color: white;
      }
      & .ant-card-body {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        overflow: hidden;
        text-overflow: ellipsis;

        & p {
          text-align: center;
          font-weight: 100;
          font-size: 20px;
          color: white;
        }
        & p.num-of-videos {
          font-size: 24px;
          text-align: center;
          margin-bottom: 0;
        }
      }
      & .ant-card-actions {
        background-color: #e2e2e2;
        &:hover i {
          color: red;
        }
      }
    }


  }

  h1 {
    font-size: $headers-font-size;
  }
}