@import 'main.scss';

.error-modal-container {
  position: absolute;
  left: calc(50% - 225px);

  &, & .ant-modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    width: 475px;
    & h2 {
      font-size: 26px;
    }
    & i {
      position: relative;
      margin-top: 10px;
      color: red;
    }
    & p {
      text-align: center;
      margin-top: 15px;
      font-size: 15px;
    }
  }
}