@import "../../main";

.patient-tests-container {
  @include page-size;

  & .tests-title {
    @include table-title;
  }

  .table-wrapper {
    @include table-wrapper;

    & .table {
      @include table;
    }

    .patient-image {
      border-radius: 100px;
      width: 50px;
      height: 50px;
    }
  }
}

.test-page-container {
  @include page-size;
}
