@import "../../../../main";

.search-bar {
  width: 40%;

  & > input {
    position: relative;
    top: 24px;
    left: 60%;
    height: 30px;
    width: 65%;
    background-color: $header-serachbar-background-color;
    font-size: 16px;
    border: none;
    border-radius: 15px;
    padding-left: 16px;

    &:focus {
      outline: none;
    }
  }
}