/*------------------PAGES------------------*/

/* PATIENTS_TESTS */
$patients-tests-table-border-color: hsl(235, 23%, 90%);
$white-color: hsl(0, 0%, 100%);






/*------------------COMPONENTS------------------*/

/* HEADER */
$header-background-color: hsl(0, 0%, 100%);
$header-serachbar-background-color: hsl(0, 0%, 77%);

/* SIDEBAR */
$sidebar-background-color: hsl(234, 9%, 23%);
$list-hover-color: hsl(231, 100%, 93%);
$selected-list-background-color: hsl(228, 4%, 41%);
$list-background-color-hover: lightblue;
$logout-btn: hsl(0, 45%, 48%);

/* ABNORMALITY_CHIP */
$normal-result-background-color: hsl(160, 67%, 48%);
$abnormality-result-background-color: hsl(360, 71%, 51%);



/*------------------GENERAL------------------*/
