@import url('https://fonts.googleapis.com/css?family=Cutive&display=swap');

/*------------------PAGES------------------*/
/* LOGIN */
$login-header-font-size: 75px;
$login-header-font-family: 'Cutive', serif;





/*------------------COMPONENTS------------------*/
/* HEADER */
$headers-font-size: 22px;

/* SIDEBAR */
$list-font: 'Courier New';

/* ABNORMALITY_CHIP */



/*------------------GENERAL------------------*/
$main-font: 'arial';
