/*------------------PAGES------------------*/



/*------------------COMPONENTS------------------*/
/*HEADER*/
$header-height: 80px;

/*SIDEBAR*/
$sidebar-width: 275px;




/*------------------GENERAL------------------*/
$z-index-top-value: 9999;
$z-index-medium-top-value: 999;
$z-index-medium-bottom-value: 99;
$z-index-bottom-value: 9;


