/*------------------PAGES------------------*/



/*------------------COMPONENTS------------------*/
/*HEADER*/
$header-height: 80px;

/*SIDEBAR*/
$sidebar-width: 260px;




/*------------------GENERAL------------------*/
$z-index-top-value: 9999;


