@import "src/main";

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 5px 0.1px grey;
  width: 185px;
  height: 280px;
  margin: 20px;
  cursor: pointer;
}