@import "../../main";

.cards-container {
  position: relative;
  top: 25px;
  width: 85%;
  margin: auto auto 40px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 75px 100px;
  justify-content: space-evenly;
}

