@mixin page-size {
  width: calc(98vw - #{$sidebar-width});
  //min-width: calc(100vw - #{$sidebar-width});
  min-height: calc(100vh - #{$header-height});
  top: $header-height;
  //left: calc(#{$sidebar-width});
  left: $sidebar-width;
  position: relative;
}