@mixin table-title {
  position: relative;
  top: 30px;
  margin: auto;
  width: calc(95vw - #{$sidebar-width});
}

@mixin table-wrapper {
  width: calc(95vw - #{$sidebar-width});
  position: relative;
  padding-top: 40px;
  padding-bottom: 30px;
  top: 70px;
  margin: auto auto 60px;
  border: 1px $patients-tests-table-border-color solid;
}

@mixin table {
  margin: auto;
  width: 95%;
  cursor: pointer;
}