@import 'main.scss';

.modal-container {
  position: absolute;
  left: calc(50% - 300px);
  & aside {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 25%;
    background-color: $sidebar-background-color;
    & img {
      width: 120px;
    }
  }

  & .form-wrapper {
    position: relative;
    //overflow-y: scroll;
    height: 510px;
    top: 10px;
    left: 27%;
    width: 73%;

    & .form {
      width: 98%;
    }

    & .save-btn-container {
      position: absolute;
      bottom: 0;
      right: 0;
      //top: 10px;
      float: right;
      & button {
      }
    }

    & .ant-result.ant-result-success {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    & .loading-modal {
      height: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      & h4 {
        margin-top: 10px;
      }
    }
  }
}