@import "src/main";

.patient-page-container {
  overflow-x: hidden;

  @include container-size;
  .left-section {
    //background-color: lightsalmon;
    width: 30%;
    height: 420px;
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    float: left;
    top: 60px;

    & img {
      width: 140px;
      height: 140px;
      border-radius: 100px;
    }

    & h2 {
      font-size: 26px;
      font-weight: 300;
    }
  }

  & hr {
    float: left;
    position: sticky;
    top: 80px;
    width: 1px;
    height: 500px;
    background-color: black;
    display: inline-block;
  }

  .right-section {
    height: 600px;
    width: 68%;
    float: left;
    position: relative;
    top: 60px;
    //background-color: red;
    //left: 30px;

    & h1 {
      margin-left: 35px;
    }

    & img {
      width: 40px;
      position: absolute;
      right: 25px;
      cursor: pointer;

      &.up-arrow{
        top: 75px;
      }
      &.down-arrow {
        bottom: 100px;
      }

    }

    & > .tests {
      height: 100%;
      background-color: steelblue;
      &.hidden {
        display:none
      }
    }
    & > .plans {
      height: 100%;
      background-color: pink;
      &.hidden {
        display:none
      }
    }

  }

}
