@import "../../main";

.loading-test {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & h3 {
    margin-top: 20px;
  }
}

.test-title {
  margin-top: 55px;
  margin-left: 40px;
}

.graph-container {
  &:first-of-type {
    margin-top: 45px;
  }

  box-shadow: 0 0 1px 0;
  background-color: #F5FCFF;
  border-radius: 7px;
  margin: 0 auto;
  margin-bottom: 70px;
  width:90%;

  .container-header {
    position: relative;
    display: flex;
    flex-direction: row;
    .sensor-title {
      padding-top: 10px;
      margin-left: 40px;
      &--second {
        margin-top: 30px;
      }
    }

    .radio-container {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      position: absolute;
      left: 33%;
      top: 33%;
      width: 35%;

      & > .radio {
        & > span {
          font-weight: bold;
        }
        &--green {
          color: green;
        }
        &--purple {
          color: purple;
        }
        &--orange {
          color: #ff8f12;
        }
      }
    }
  }
}
