@import "../../main";
@import "../../../node_modules/react-vis/dist/style.css";

.loading-test {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & h3 {
    margin-top: 20px;
  }
}

.test-title {
  margin-top: 20px;
  margin-left: 40px;
}

.sensor-title {
  padding-top: 10px;
  margin-left: 40px;

  &.sens {
    margin-top:40px;
  }
}

.xy-container {
  position: relative;
  top: 7px;
  margin: auto;
  border: 1px grey solid;
  box-shadow: 0 0 1px 1px;
  background-color: azure;

  &.xy-second {
    margin-bottom: 50px;
  }
}