@import "../../../../main";


.form-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  & input, & button {
    height: 4rem;
    width: 35rem;
    border-radius: 15px;
  }

  & input {
    padding-left: 1.5rem;
    font-size: 1.6rem;
    //background-color: red !important; // FIXXXX
    &:focus {
      outline: none;
    }
  }

  & button {
    letter-spacing: 0.15rem;
    font-size: 1.6rem;
    color: white;
    background-color: hsl(345, 89%, 61%);
    border: none;
    cursor: pointer;
  }
}
