@import "main";

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;

  & input, & button {
    height: 40px;
    width: 350px;
    border-radius: 15px;
  }

  & input {
    padding-left: 15px;
    font-size: 16px;
    &:focus {
      outline: none;
    }
  }

  & button {
    letter-spacing: 1.7px;
    font-size: 17px;
    color: $login-btn-font-color;
    background-color: $login-btn-background-color;
    border: none;
    cursor: pointer;
    outline: none;
  }
}
