@import "../../../../main";

.form-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  & input, & button {
    height: 40px;
    width: 350px;
    border-radius: 15px;
  }

  & input {
    padding-left: 15px;
    font-size: 16px;
    &:focus {
      outline: none;
    }
  }

  & button {
    letter-spacing: 1.7px;
    font-size: 17px;
    color: white;
    background-color: hsl(345, 89%, 61%);
    border: none;
    cursor: pointer;
    outline: none;
  }
}
