@import "../../main";

/*******************************
          Header
*******************************/
.header-container {
  width: calc(100vw - #{$sidebar-width});
  height: $header-height;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  left: $sidebar-width;
  right: 0;
  top: 0;
  z-index: $z-index-medium-bottom-value;
  background-color: $header-background-color;
  box-shadow: 0 0.2px 4px grey;
}

/*--------------
      Title
---------------*/
.header-container__route-title {
  position: relative;
  top: $header-height / 4;
  left: 25px;
  width: 200px;
  font-size: $headers-font-size;
}

.header-container .avatar-container button {
  margin-right: 30px;
}
/*--------------
     Avatar
---------------*/
.header-container__avatar {
  width: 200px;
  font-size: $headers-font-size;
  position: relative;
  top: 15px;
  left: 90px;
}