@import "styles/colors";
@import "styles/fonts";
@import 'styles/sizes';
@import 'styles/functions/pages';
@import 'styles/functions/table';


* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

html {
  font-size: 62.5%;
}

.app-container {
  overflow-x: hidden;
  height: 100vh
}

.app-overlay.modal-is-open {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: $z-index-medium-top-value;
  background-color: black;
  opacity: 0.7;
}
