@import "styles/colors";
@import "styles/fonts";
@import 'styles/sizes';
@import 'styles/functions/pages';
@import 'styles/functions/table';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}


.app-container {
  overflow-x: hidden;
  height: 100vh
}

.app-overlay.modal-is-open {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: $z-index-medium-top-value;
  background-color: black;
  opacity: 0.65;
  transition: .3s;
}