@import "main";

.patients-page {
  @include page-size;

  & button.add-btn {
      position: fixed;
      height: 65px;
      width: 65px;
      top: 115px;
      right: 20px;
      z-index: $z-index-medium-bottom-value;
      margin-left: 30px;
      border-radius: 100px;
      outline: none;
      cursor: pointer;
      font-size: 18px;

      &:hover{
        background-color: $sidebar-background-color;
        color: $list-hover-color;
        transition: .25s;
      }
    }
}