@import "../../main";

.patient-tests-container {
  @include container-size;
  overflow-x: hidden;

  .table-wrapper {
    width: calc(97vw - #{$sidebar-width});
    position: relative;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 30px;
    top: 30px;
    border: 1px $patients-tests-table-border-color solid;


    & .table {
      margin: auto;
      width: 95%;
      cursor: pointer;
    }

    .patient-image {
      border-radius: 100px;
    }

    & .results {
      padding: 4px 13px;
      border-radius: 15px;
      text-transform: uppercase;
      color: $white-color;
      &.green {
        background-color: $normal-result-background-color;
      }
      &.red {
        background-color: $abnormality-result-background-color;
      }
    }
  }
}
