@import "main";

.add-card-container {
  display: flex;
  min-height: 350px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid #7a7a7a;
  border-radius: 2px;
  //margin: 0 10px;
  //margin-bottom: 35px;
  cursor: pointer;
  transition: .15s;
  &:hover {
    background-color: $sidebar-background-color;
    & h2, & i {
      color: $list-hover-color;
    }
  }

  & .plus-btn {
    width: 100px;
  }
}