@import "main";

/*******************************
          Add Card
*******************************/
.add-card-container {
  display: flex;
  min-height: 350px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid #7a7a7a;
  border-radius: 2px;
  cursor: pointer;
  transition: .15s;
}

.add-card-container:hover {
  background-color: $sidebar-background-color;
}

/*--------------
   Title, icon
---------------*/
.add-card-container:hover h2,
.add-card-container:hover i {
  color: $list-hover-color;
}

/*--------------
     Button
---------------*/
.add-card-container .plus-btn {
  width: 100px;
}