@import "main";

.add-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 260px;
  width: 380px;
  border: 2px solid black;
  border-radius: 5px;
  margin: 15px;
  cursor: pointer;
  transition: .15s;
  &:hover {
    background-color: $sidebar-background-color;
    & h2, & i {
      color: $list-hover-color;
    }
  }

  & .plus-btn {
    width: 100px;
  }
}