@import 'main';

.form {
  & .tab-content-container {
    width: 100%;
    height: 375px;
    overflow-y: auto;
    & h1,
    & p {
      width: 95%;
    }
    & .form-input {
      max-width: 95%;
    }
  }
  &:not(.has-tabs) {
    margin-top: 10px;
  }

  &.has-tabs {
    margin-bottom: 5px;

    & .video-box {
      &:first-of-type {
      margin-top: 5px;
      }
      & * {
        cursor: pointer;
      }
      display: flex;
      flex-direction: column;
      max-width: calc(86% - 1px);
      margin-top: 30px;
      margin-left: 20px;
      & .label-container {

        & label {
          margin-right: 20px;
        }
        & .ant-input-number {
          min-width: 180px;
          //width: 60px;
        }
        //display: flex;
      }

      &.selected {
        box-shadow: 0 0 5px #ffbc49;
        & .label-container {
            background-color: #ffbc49;
          & label {
            padding-top: 3px;
            padding-left: 6px;
          }
          & iframe {
            border: 5px solid #ffbc49
          }
        }
      }

    }
  }
}
