@import "main";

.patient-data-section {
  position: sticky;
  top: 60px;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 75vh;
  width: 30%;

  & img {
    margin: 0 auto;
    width: 110px;
    height: 110px;
    border-radius: 100px;
  }

  & .personal-details {
    & h2 {
      margin-top: 30px;
      text-decoration: underline;
      font-size: 22px;
      font-weight: 300;
    }
    position: relative;
    bottom: 30px;
    text-align: center;
  }

  & .plan-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 20px;

    & h2 {
      text-decoration: underline;
      font-size: 22px;
      font-weight: 300;
    }

    & button {
      height: 40px;
      width: 100px;
      margin-top: 20px;
      border-radius: 5px;
      background-color: $sidebar-background-color;
      color: $list-hover-color;
      outline: none;
    }
  }

}
