@import "main";

.patient-data-section {
  position: sticky;
  top: 60px;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 420px;
  width: 30%;

  & img {
    width: 140px;
    height: 140px;
    border-radius: 100px;
  }

  & h2 {
    font-size: 26px;
    font-weight: 300;
  }
}
